@import "_common.scss";

header{
    position:fixed;
    background-color:#fff;
    width:100%; height:4.5vw;
    display:flex; align-items:center;
    z-index:20;
    
    div{
        margin:0 auto;
        width:70%;
        display:flex;
        justify-content:space-between;
        align-items: center;
        h1{
            font-size: 1.5rem;
            a{color:blue;}
            a img{vertical-align: middle;}
        }
        nav{
            width:50%;
            margin-left:auto;
            display:flex;
            justify-content:space-around;
            font-size:0.8rem;
            a{}
        }
        .lang{
            margin-left:3rem;
            display:flex;
            justify-content:space-around;
            
            li{
                a{color:#999;}
                a.active{color:#000;}
            }
            li:nth-of-type(1)::after{
                content:'|';
                margin:1rem;
                color:#999;
            }
        }
    }
}

main{
    .wrapper-vid{
        position: absolute;
        width: 100%;
        pointer-events: none;
    }
    .gradient-bg{
        background:linear-gradient(to top, 
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0.25) 25%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.75) 75%,
        rgba(255, 255, 255, 1) 100%);

        width: 100%;
        height: 60vw;
        min-height: 600px;
        object-fit: cover;
        position: relative;
        z-index: 2;
        pointer-events: none;
    }
    .bg-vid{
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 60vw;
        min-height: 600px;
        object-fit: cover;
        pointer-events: none;
    }
    .toss-word{
        position:absolute; left:50%; top:30%;
        transform:translate(-50%,-50%);
        z-index:9;
        white-space: pre-line;
        text-align:center;
        font-size:3.4rem;
    }
    .download{
        position:absolute; 
        top:55%; left:50%;
        transform:translateX(-50%);
        text-align: center;
        ul{
            li{display:none;}
        }
        .btn-dwnld{
            width:15vw; height:6vw;
            border-radius:3vw;
            border:none;
            background-color:rgb(0, 0, 255);
            color:#fff;
            font-size:1.3rem;
            transition:0.5s;
        }
        .btn-dwnld:hover{
            background-color: rgb(0, 0, 100);
        }
    }
    .move-page{
        position:absolute;
        bottom:5%; left:50%;
        transform:translateX(-50%) rotate(90deg);
        border:none; background:none;
        font-size:2rem;
    }
    .cont-1{
        position:absolute; top:100%;
        width:100%; height:48vw;
        background-color:rgb(250,250,250);
        h2{
            margin-top:12vw;
            line-height:3.5rem;
            font-size:1.6rem;
            white-space: pre-line;
            text-align:center;
        }
    }
    .cont-2{
        position:absolute;
        top:107vw;
        height:114vw;
        width:100%;
        .main-2{
            width:70%;
            margin:0 auto;
            position:relative;
            .main-2-1{
                small{
                    color:blue;
                    display: inline-block;
                    padding-bottom:2rem;
                    font-size:2rem;
                }
                margin-top:10vw;
                text-align:left;
                white-space: pre-line;
                font-size:3rem;
            }
            .main-2-2{
                width:55%;
                background:url('img/section1_1_home_02.png') no-repeat center center;
                background-size:60%;
                transform:translate(-20%,0);
                img{width:100%}
            }
            .main-2-3{
                width:55%;
                background:url('img/section1_1_home_01.png') no-repeat center center;
                background-size:55%;
                transform:translate(20%,0%);
                position:absolute;
                top:-10%; right:0%;
                img{
                    width:100%;
                    transform:translateY(18%);
                }
                div{
                    font-size:1.3rem;
                    width:80%;
                    margin-top:15vw; margin-left:6vw;
                    white-space: pre-line;
                }
            }
            
        }
    }
    .cont-3{
        position:absolute;
        top:222vw;
        width:100%; height:120vw;
        background:rgb(250,250,250);
        .main-3{
            width:70%;
            margin:0 auto;
            h2{
                margin:100px 0;
                small{
                    font-size:1.2rem;
                    margin:20px 0;
                    display:inline-block;
                    color:blue;
                }
                white-space:pre-line;
                font-size:2.5rem;
            }
            .main-3-1{
                background:#fff;
                width:100%;
                height:30vw;
                overflow:hidden;
                display:flex;
                border-radius:30px;
                margin-bottom:1.8vw;
                .transfer-1{
                    width:55%;
                    background:url('img/section1_2_transfer_01.png') no-repeat center center;
                    background-size: 60%;
                    background-position-y: -20%;
                    overflow: hidden;
                    img{
                        transform:translateX(0%);
                        width:100%;
                    }
                }
                p{
                    margin-top:12vw;
                    font-size:1.4rem;
                    .call{
                        display:inline;
                        color:green;
                        svg{}
                    }
                }
            }
            .main-3-2{
                display:flex;
                .main-3-2-1{
                    width:30%;
                    background:#000;
                    color:#bbb;
                    border-radius:30px;
                    padding:30px;
                    margin-right:3vw;
                    p{
                        font-size:1.5rem;
                        margin-top:0;
                        white-space: pre-line;
                        .white-font{color:white;}
                    }
                    div{
                        display:flex;
                        justify-content:center;
                        align-items:center;
                        transform:translateY(10%);
                    }
                }

                .main-3-2-2{
                    border-radius:30px;
                    background:#fff;
                    width:70%;
                    .main-3-2-2-1{
                        height:18vw;
                        text-align: right;
                        img{
                            width:80%;
                        }
                    }
                    p{
                        font-size:1.1rem;
                        padding:3vw;
                        .clock{color:blue;
                            svg{}
                        }
                    }
                }
            }
        }
    }
    .cont-4{
        position:absolute;
        top:342vw; right:0;
        width: 100%;
        height:150vw;
        .main-4-1{
            h2{
                margin-top:18vw;
                margin-left:3vw;
                white-space: pre-line;
                font-size:2rem;
                small{color:blue;}
            }
            .main-4-1-cont{
                position:relative;
                .invest-text{
                    position:absolute;
                    top:50%; left:50%;
                    transform:translate(-50%,-50%);
                    width:100%;
                    display:flex;
                    justify-content:space-between;
                    p{width:30%;}
                }
                div:nth-of-type(2){
                    position:absolute;
                    left:50%; top:-20%;
                    transform:translateX(-62%);
                    width:40%;
                    background:url('img/section1_5_stock_01.png') center center no-repeat;
                    background-size:50%;
                    img{
                        position: relative;
                        width:100%;
                        z-index:30;
                    }
                    figure{
                        position:absolute;
                        left:-75%; top:65%;
                        width:72vw;
                        display:flex;
                        justify-content: space-between;
                        z-index: 20;
                        img{
                            width:178px;
                            margin-left:1.2vw;
                        }
                    }
                }
            }
            p{
                margin:78vw auto 6vw;
                white-space:pre-line;
                text-align:center;
            }
        }
        .main-4-2{
            width:100%;
            height:60vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background:url(img/section2_4_big.jpg) center center no-repeat;
            background-size: 120%;
            h2{
                font-size:4rem;
                color:#fff;
            }
        }
    }
    .cont-5{
        position:absolute;
        top:522vw;
        width:100%;
        height:216vw;
        background:rgb(250,250,250);
        .main-5{
            width:80%;
            margin:12vw auto;
            h2{
                white-space: pre-line;
                font-size:2.3rem;
                small{
                    font-size:1.5rem;
                    color:blue;
                }
                margin-bottom:6vw;
            }
            .table{
                display:flex;
                margin:0 auto;
                flex-wrap:wrap;
                justify-content: space-between;
                
                & > div{
                    width:50%;
                    div{
                        width:120px; height:120px;
                        margin-bottom:30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius:30px;
                        svg{width:60px; height:60px;}
                    }
                    
                    h3{}
                    p{
                        margin-bottom:6vw;
                        white-space: pre-line;
                    }
                }
                & > div:nth-of-type(1) div{background:#ffe69b}
                & > div:nth-of-type(2) div{background:#f2f4f6}
                & > div:nth-of-type(3) div{background:#bce9e9}
                & > div:nth-of-type(4) div{background:#aeefd5}
                & > div:nth-of-type(5) div{background:#edccf8}
                & > div:nth-of-type(6) div{background:#f2f4f6}
                & > div:nth-of-type(7) div{background:#e8f3ff}
                & > div:nth-of-type(8) div{background:#aeefd5}
                
            }
        }
    }

}

footer{
    background-color: #191f28;
    color:#fff;
    width:100%; height:60vw;
    position:absolute;
    top:690vw;
    a{color:#fff;}
    .footer-cont{
        width:80%;
        margin:3vw auto;
        div{
            display:flex;
            justify-content: space-between;
            margin-bottom:3vw;
            ul{
                li{padding:0.6vw;}
            }
        }
        address{
            white-space: pre-line;
            margin-bottom: 3vw;
            small{margin-bottom:0.6vw;}
        }
        .term{
            display: flex;
            margin-bottom: 3vw;
        }
        .sns{
            display:flex;
            li{margin:0.6vw;}
        }
    }

}