@import "_common.scss";

// hide burger menu
.b-menu{display: none;}

header{
    position:fixed;
    background-color:#fff;
    width:100%; height:60px;
    display:flex; align-items:center;
    border-bottom: 1px solid transparent;
    border-bottom-color:rgba(0,27,55,0.1);
    z-index:20;
    
    & > div{
        margin:0 auto;
        width:56%;
        min-width:1050px;
        display:flex;
        justify-content:space-between;
        align-items: center;

        h1{
            font-size: 1.5rem;
            a{
                width:76px;
                svg{
                    width: auto;
                    height:20px;
                }
            }
        }
        .b-nav{
            width:50%;
            margin-left:auto;
            display:flex;
            justify-content:space-around;
            font-size:0.8rem;
            li{
                a{
                    cursor: pointer;
                    border-radius:5px;
                    padding:10px 7px;
                }
                a:hover{
                    background-color:#f2f4f6;
                }
            }
        }
        .lang{
            margin-left:3rem;
            display:flex;
            justify-content:space-around;
            
            li{
                a{
                    cursor: pointer;
                    color:#999;
                    border-radius:5px;
                    padding:10px 7px;
                }
                a.active{color:#000;}
                a:hover{background-color:#f2f4f6;}
            }
            li:nth-of-type(1)::after{
                content:'|';
                margin:1rem;
                color:#999;
            }
        }
    }
}

// move-page animation
@keyframes up-down{
    from{
        transform: translate(-50%,0);
    }
    to{
        transform: translate(-50%,-20px);
    }
}

.up-on-scroll{transition: transform 0.7s, opacity 1s;}

main{
    overflow-x: hidden;
    .wrapper-vid{
        position: relative;
        width: 100%;
        height: 100vh;
        pointer-events: none;
    }
    .gradient-bg{
        background:linear-gradient(180deg, white 0%, white 59px, rgba(255, 255, 255, 0) 100%);

        width: 100%;
        height: 500px;
        min-height: 600px;
        object-fit: cover;
        position: absolute;
        z-index: 2;
        pointer-events: none;
    }
    .bg-vid{
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        min-height: 600px;
        object-fit: cover;
        pointer-events: none;
    }
    .toss-word{
        position:absolute; left:50%; top:200px;
        transform:translate(-50%,-50%);
        width:600px; height:184px;
        z-index:9;
        white-space: pre-line;
        text-align:center;
        font-size:3.4rem;
    }
    .download{
        position:absolute; 
        top:400px; left:50%;
        transform:translateX(-50%);
        text-align: center;
        ul{
            display:none;
            background-color:#f9fafb;
            margin:10px 0;
            border-radius:5px;
            li{
                border-radius:5px;
                font-size:1rem;
                padding:1vw;}
        }
        .btn-dwnld{
            width:178px; height:71px;
            border-radius:40px;
            border:none;
            background-color:#3182f6;
            color:#fff;
            font-size:1.3rem;
            transition:0.5s;
            cursor: pointer;
        }
        .btn-dwnld:hover{
            background-color:#1b64da;
        }
    }
    .move-page{
        position:absolute;
        bottom:5%; left:50%;
        width: 50px;
        height: 50px;
        transform:translateX(-50%);
        border:none; background:none;
        cursor: pointer;
        animation: up-down 1.4s infinite ease-in-out alternate;
    }
    .cont-1{
        height:600px;
        background-color:#f9fafb;
        display:flex;
        justify-content:center;
        align-items:center;
        h2{
            font-size:1.6rem;
            white-space: pre-line;
            text-align: center;
        }
    }
    
    // 1140 px

    .cont-2{
        width:100%;
        padding:250px 0 150px;
        .main-2{
            width:56%;
            margin:0 auto;

            display:flex;
            align-items: flex-start;
            flex-wrap: wrap;
            position: relative;
            
            .main-2-1{
                width:100%;
                small{
                    color:#3182f6;
                    display: inline-block;
                    padding-bottom:2rem;
                    font-size:1.5vw;
                }
                text-align:left;
                white-space: pre-line;
                font-size:2.4vw;
                margin-bottom:50px;
                
            }
            .main-2-2{
                width:55%;
                flex-shrink: 0;
                position:relative;
                left:-15%;
                // transform: translate(0,-0%);
                img:nth-of-type(1){
                    position:absolute;
                    left: 50%; top:50%;
                    transform: translate(-50%,-50%);
                    width:60%;
                }
                img:nth-of-type(2){
                    position:relative;
                    // left: -47%; top:-7%;
                    width:100%;
                }
            }
            .main-2-3{
                width:55%;
                flex-shrink: 0;
                transform: translate(15%,-0%);
                // min-width: 280px;
                // height:1300px;
                position:absolute;
                right:0; top:0;
                
                div{position:relative;}
                img:nth-of-type(1){
                    position:absolute;
                    left: 50%; top:50%;
                    transform: translate(-50%,-50%);
                    width:60%;
                }
                img:nth-of-type(2){
                    position:relative;
                    // left: -46%; top:-6%;
                    width:100%;
                }
                p{
                    width:90%; margin:0 auto;
                    padding-left:15%;
                    font-size:1vw;                   
                    white-space: pre-line;
                    box-sizing:border-box;
                }
            }
            
        }
    }
    .cont-3{
        width:100%; 
        background:#f9fafb;
        padding:100px 0 150px;
        .main-3{
            width:56%;
            margin:0 auto;
            h2{
                margin:0 0 6vw;
                small{
                    font-size:1.3vw;
                    margin:20px 0;
                    display:inline-block;
                    color:#3182f6;
                }
                white-space:pre-line;
                font-size:2.3vw;
            }
            .main-3-1{
                background:#fff;
                width:100%;
                
                overflow:hidden;
                display:flex;
                border-radius:30px;
                margin-bottom:1.8vw;
                .transfer-1{
                    width:55%;
                    height:30vw;
                    background:url('img/section1_2_transfer_01.png') no-repeat 50% 3.5vw;
                    background-size: 60%;
                    overflow: hidden;
                    img{
                        width:100%;
                    }
                }
                p{
                    //margin-left:3vw;
                    margin-top:12vw;
                    font-size:1.3vw;
                    .call{
                        display:inline;
                        color:#03b26c;
                        font-size:1.3vw;
                        margin:0; padding:0;
                        svg{
                            width:1.7vw;
                            max-width:18.33px;
                            max-height:18.33px;
                        }
                    }
                }
            }
            .main-3-2{
                display:flex;
                .main-3-2-1{
                    width:30%;
                    background:#191f28;
                    color:rgb(176, 184, 193);
                    border-radius:30px;
                    padding:30px;
                    margin-right:3vw;
                    p{
                        font-size:1.8vw;
                        margin-top:0;
                        white-space: pre-line;
                        .white-font{color:white;}
                    }
                    div{
                        margin-top:7vw;
                        display:flex;
                        justify-content:center;
                    }
                }

                .main-3-2-2{
                    border-radius:30px;
                    background:#fff;
                    width:70%;
                    .main-3-2-2-1{
                        height:18vw;
                        text-align: right;
                        img{
                            width:80%;
                        }
                    }
                    p{
                        font-size:1vw;
                        padding:2vw;
                        .clock{color:#3182f6;

                        }
                    }
                }
            }
        }
    }
    .cont-4{
        position:relative;
        width: 100%;
        .main-4-1{
            width:56%;
            margin:0 auto;
            padding:150px 0;
            h2{
                small{
                    font-size:1.2vw;
                    margin:20px 0;
                    display:inline-block;
                    color:#3182f6;
                }
                white-space: pre-line;
                font-size:2.3vw;
            }
            .main-4-1-cont{
                position:relative;
                width:100%; 
                //height:50vw;
                transform:translateY(-10%);

                .invest-text{
                    position:absolute;
                    top:40%; left:50%;
                    transform:translate(-50%,-50%);
                    width:100%;
                    min-width:900px;
                    display:flex;
                    justify-content:space-between;
                    align-items:center;
                    p{
                        font-size:1.5vw;
                        width:auto; height:auto;
                    }
                }
                div:nth-of-type(2){
                    position:relative;
                    width:600px; 
                    margin:100px auto;
                    background:url('img/section1_5_stock_01.png') center center no-repeat;
                    background-size:55%;
                    img{
                        position: relative;
                        width:100%;
                        z-index:30;
                    }
                    figure{
                        position:absolute;
                        left:50%; bottom:15%;
                        transform: translateX(-50%);
                        display:flex;
                        justify-content: flex-start;
                        
                        z-index: 20;
                        img{
                            width:178px;
                            margin-left:16px;
                        }
                    }
                }
            }
            p{
                font-size:1.5rem;
                margin:1vw 0;
                white-space:pre-line;
                text-align:center;
            }
        }
        .main-4-2{
            width:100%;
            height:53vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background:url('img/section2_4_big.jpg') center center no-repeat;
            background-size: cover;
            h2{
                font-size:4.5vw;
                color:#fff;
            }
        }
    }
    .cont-5{
        position:relative;
        width:100%;
        background:#f9fafb;
        padding:9vw 0;
        .main-5{
            width:56%;
            margin:0vw auto ;
            h2{
                margin:0vw 0 6vw;
                small{
                    font-size:1.5rem;
                    margin:20px 0;
                    display:inline-block;
                    color:#3182f6;
                }
                white-space:pre-line;
                font-size:2.8rem;
            }
            .table{
                display:flex;
                margin:0 auto;
                flex-wrap:wrap;
                justify-content: space-between;
                
                & > div{
                    width:50%;
                    div{
                        width:120px; height:120px;
                        margin-bottom:30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius:30px;
                        svg{width:60px; height:60px;}
                    }
                    
                    p{
                        margin-bottom:6vw;
                        white-space: pre-line;
                    }
                }
                & > div:nth-of-type(1) div{background:#ffe69b}
                & > div:nth-of-type(2) div{background:#f2f4f6}
                & > div:nth-of-type(3) div{background:#bce9e9}
                & > div:nth-of-type(4) div{background:#aeefd5}
                & > div:nth-of-type(5) div{background:#edccf8}
                & > div:nth-of-type(6) div{background:#f2f4f6}
                & > div:nth-of-type(7) div{background:#e8f3ff}
                & > div:nth-of-type(8) div{background:#aeefd5}
                
            }
        }
    }

}

footer{
    font-size:0.9rem;
    background-color: #191f28;
    color:#fff;
    width:100%;
    position:relative;
    padding:70px 0;

    a{color:#6b7684;}
    .footer-cont{
        width:56%;
        margin:0vw auto;
        div{
            display:flex;
            justify-content: space-between;
            margin-bottom:3vw;
            ul{
                li:nth-of-type(1){
                    a{
                        font-weight: bolder;
                        color:#b0b8c1;
                    }
                }
                li{padding:0.6vw;}
            }
        }
        address{
            margin-bottom: 3vw;
            font-style:normal;
            color:#8b95a1;
            strong{
                display:block;
                padding-bottom:12px;
                color:#b0b8c1;
            }
        }
        .term{
            display: flex;
            margin-bottom: 3vw;
            justify-content:space-between;
            white-space: pre-wrap;
        }
        .sns{
            display:flex;
            li{margin:0.6vw;}
        }
    }

}

// responsive web design

// laptop - test 필요
// @media (max-width:1440px){}


// header 1140px 이하
@media(max-width:1140px){
    header{
        div{
            width:90%;
            min-width: 0px;
        }
    }
}

@media (max-width:1024px){
    //56% -> 76~80%
    header{
        div{
            width:76%;
            .b-nav{
                li{
                    a{font-size:1.3vw;}
                }
            }
            .lang{
                li{
                    a{font-size:1.5vw;}
                }
            }
        }
    }
    main{
        .cont-2 .main-2,.cont-3 .main-3,.cont-4 .main-4-1,.cont-5 .main-5{width:76%;}
        .cont-2{padding:10vw 0;}

    }
    footer{
        .footer-cont{width:76%;}
    }
}

@media (max-width:768px){
    // burger menu
    @-webkit-keyframes slideInLeft {
        0% {
            transform: translate3d(-250px, 0, 0);
            visibility: visible;
        }
        100% {
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes slideInLeft {
        0% {
            transform: translate3d(-250px, 0, 0);
            visibility: visible;
        }
        100% {
            transform: translate3d(0, 0, 0);
        }
    }
    @-webkit-keyframes slideOutLeft {
        0% {
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(-250px, 0, 0);
            visibility: hidden;
        }
    }
    @keyframes slideOutLeft {
        0% {
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(-250px, 0, 0);
            visibility: hidden;
        }
    }

    .b-menu {
        background: white;
        border: white solid 2px;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 38px;
        padding-left: 15px;
        padding-top: 15px;
        position: relative;
        transition: all 0.4s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 38px;
        z-index: 12;
        transform:translateX(3px);
    }
    .b-menu:hover {
        border: #444444 solid 2px;
    }

    .b-bun {
        background: #444444;
        position: relative;
        transition: all 0.4s ease;
    }
    .b-bun--top {
        height: 2px;
        top: 0;
        width: 25px;
    }
    .b-bun--mid {
        height: 2px;
        top: 8px;
        width: 25px;
    }
    .b-bun--bottom {
        height: 2px;
        top: 16px;
        width: 25px;
    }

    .b-nav:not(.open) {
        visibility: hidden;
    }
    .b-nav li:not(.open) {
        -webkit-animation-duration: 0.4s;
                animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        -webkit-animation-name: slideOutLeft;
                animation-name: slideOutLeft;
    }
    .b-nav.open {
        visibility: visible;
    }
    .b-nav.open li {
        -webkit-animation-duration: 0.4s;
                animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        -webkit-animation-name: slideInLeft;
                animation-name: slideInLeft;
    }

    .b-nav:hover:not(.open) .bun-top,
    .b-nav:hover:not(.open) .bun-mid,
    .b-nav:hover:not(.open) .bun-bottom {
    background: white;
    }

    .b-menu.open .b-bun--top {
    background: #444444;
    top: 9px;
    transform: rotate(45deg);
    }
    .b-menu.open .b-bun--mid {
    opacity: 0;
    }
    .b-menu.open .b-bun--bottom {
    background: #444444;
    top: 5px;
    transform: rotate(-45deg);
    }
    // burger menu end

    // 56% -> 92%
    header{
        & > div{
            width:100%;
            padding:20px;
            
            .b-nav{display:none;}
            .b-nav.open{
                display:block;
                position:fixed;
                top:61px; left:0;
                background:#fff;
                width:100%;
                padding-left:0vw;
                li{
                    padding:2.5vw;
                    a{
                        font-size:3vw;
                        color:#4e5968;
                    }
                }

            }
            .lang{display:none;}
            .b-menu{display: block;}
        }
    }
    main{
        .toss-word{
            width:100%;
            font-size:7vw;
        }
        .cont-1{
            height:90vw;
            h2{
                width:92%;
                font-size:3.2vw;
            }
        }
        .cont-2 .main-2,.cont-3 .main-3,.cont-4 .main-4-1,.cont-5 .main-5{width:92%;}

        .cont-2{
            padding:3vw 0;
            .main-2{
                .main-2-1{
                    font-size:3.5vw;
                    small{font-size:2.5vw;}
                }
                .main-2-3{
                    p{font-size:1.8vw;}
                }
            }
        }
        .cont-3{
            padding:5vw 0;
            .main-3{
                h2{
                    font-size:3.5vw;
                    small{font-size:2.5vw;}
                }
                .main-3-1{
                    p{
                        font-size:2.3vw;
                        .call{font-size:2.3vw;}
                    }
                }
                .main-3-2{
                    .main-3-2-1{
                        p{font-size:2.7vw;}
                    }
                    .main-3-2-2{
                        p{
                            margin-top:5vw;
                            font-size:2vw;
                        }
                    }
                }
            }
        }
        .cont-4{
            padding:5vw 0;
            .main-4-1{
                padding:2vw 0;
                h2{
                    font-size:3.5vw;
                    small{font-size:2.5vw;}
                }
                .main-4-1-cont{
                    width:100%;

                    .invest-text{
                        width:100%;
                        min-width:0;
                        max-width:800px;
                        box-sizing: border-box;
                        z-index:35;
                        p{font-size:1.8vw;}
                    }
                    div:nth-of-type(2){
                        margin-bottom:0;
                    }
                }
                p{transform:translateY(-50%);}
            }
        }
        .cont-5{
            .main-5{
                .table{
                    div{
                        width:48%;
                        font-size:2vw;
                    }
                }
            }
        }
    }
    footer{
        .footer-cont{width:92%;}
    }

}

@media (max-width:600px){
    main{
        .download{top:300px;}
        .cont-1{
            h2{font-size:5vw;}
        }
        .cont-2{
            .main-2{
                display:flex;
                justify-content: center;
                .main-2-1{
                    font-size:5.5vw;
                    small{font-size:4vw;}
                }
                .main-2-2{
                    img{position:relative;}
                    width:100%;
                    transform:translate(0,0);
                }
                .main-2-3{
                    position:relative;
                    width:100%;
                    transform:translate(0,0);
                    p{
                        padding:0;
                        font-size:4vw;
                    }
                }
            }
        }
        .cont-3{
            .main-3{
                h2{
                    font-size:5.5vw;
                    small{font-size:4vw;}
                }
                .main-3-1{
                    flex-direction: column-reverse;
                    .transfer-1{
                        width:100%; height:auto;
                        background: url(img/section1_2_transfer_01.png) no-repeat 50% 12vw;
                        background-size: 60%;
                    }
                    p{
                        font-size:4vw;
                        .call{font-size: inherit;}
                        width:100%;
                        padding-left:10vw;
                    }
                }
                .main-3-2{
                    display:block;
                    .main-3-2-1{
                        width:70vw;
                        margin:0 auto;
                        p{font-size:7vw;}
                    }
                    
                    .main-3-2-2{
                        margin-top:5vw;
                        width:100%;
                        .main-3-2-2-1{height:auto;}
                        p{
                            padding-left:10vw;
                            font-size:4vw;
                        }
                    }
                    
                }
            }
        }
        .cont-4{
            .main-4-1{
                h2{
                    font-size:5.5vw;
                    small{font-size:4vw;}
                }
                .main-4-1-cont{
                    div:nth-of-type(2){
                        width:300px;
                        figure{
                            img{width:78px;}
                        }
                    }
                }
                p{font-size:5vw;}
            }
        }
        .cont-5{
            .main-5{
                h2{
                    font-size:6vw;
                    small{font-size:4vw;}
                }
                .table{
                    display:block;
                    div{
                        width:100%;
                        h3{font-size:5.7vw;}
                        p{font-size:4.7vw;}
                    }
                }
            }
        }
    }
    footer{
        .footer-cont{
            div{flex-direction:column;}
            .term{flex-direction: column;}
        }
    }
}