html, body, figure, h2, h3, h1 {
  margin: 0;
}

html {
  font-size: 16px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  overflow-x: hidden;
}

.b-menu {
  display: none;
}

header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid transparent;
  border-bottom-color: rgba(0, 27, 55, 0.1);
  z-index: 20;
}

header > div {
  margin: 0 auto;
  width: 56%;
  min-width: 1050px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div h1 {
  font-size: 1.5rem;
}

header > div h1 a {
  width: 76px;
}

header > div h1 a svg {
  width: auto;
  height: 20px;
}

header > div .b-nav {
  width: 50%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8rem;
}

header > div .b-nav li a {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 7px;
}

header > div .b-nav li a:hover {
  background-color: #f2f4f6;
}

header > div .lang {
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header > div .lang li a {
  cursor: pointer;
  color: #999;
  border-radius: 5px;
  padding: 10px 7px;
}

header > div .lang li a.active {
  color: #000;
}

header > div .lang li a:hover {
  background-color: #f2f4f6;
}

header > div .lang li:nth-of-type(1)::after {
  content: '|';
  margin: 1rem;
  color: #999;
}

@-webkit-keyframes up-down {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  to {
    -webkit-transform: translate(-50%, -20px);
            transform: translate(-50%, -20px);
  }
}

@keyframes up-down {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  to {
    -webkit-transform: translate(-50%, -20px);
            transform: translate(-50%, -20px);
  }
}

.up-on-scroll {
  -webkit-transition: opacity 1s, -webkit-transform 0.7s;
  transition: opacity 1s, -webkit-transform 0.7s;
  transition: transform 0.7s, opacity 1s;
  transition: transform 0.7s, opacity 1s, -webkit-transform 0.7s;
}

main {
  overflow-x: hidden;
}

main .wrapper-vid {
  position: relative;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

main .gradient-bg {
  background: linear-gradient(180deg, white 0%, white 59px, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 500px;
  min-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

main .bg-vid {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  min-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

main .toss-word {
  position: absolute;
  left: 50%;
  top: 200px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: 184px;
  z-index: 9;
  white-space: pre-line;
  text-align: center;
  font-size: 3.4rem;
}

main .download {
  position: absolute;
  top: 400px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

main .download ul {
  display: none;
  background-color: #f9fafb;
  margin: 10px 0;
  border-radius: 5px;
}

main .download ul li {
  border-radius: 5px;
  font-size: 1rem;
  padding: 1vw;
}

main .download .btn-dwnld {
  width: 178px;
  height: 71px;
  border-radius: 40px;
  border: none;
  background-color: #3182f6;
  color: #fff;
  font-size: 1.3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

main .download .btn-dwnld:hover {
  background-color: #1b64da;
}

main .move-page {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  background: none;
  cursor: pointer;
  -webkit-animation: up-down 1.4s infinite ease-in-out alternate;
          animation: up-down 1.4s infinite ease-in-out alternate;
}

main .cont-1 {
  height: 600px;
  background-color: #f9fafb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cont-1 h2 {
  font-size: 1.6rem;
  white-space: pre-line;
  text-align: center;
}

main .cont-2 {
  width: 100%;
  padding: 250px 0 150px;
}

main .cont-2 .main-2 {
  width: 56%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

main .cont-2 .main-2 .main-2-1 {
  width: 100%;
  text-align: left;
  white-space: pre-line;
  font-size: 2.4vw;
  margin-bottom: 50px;
}

main .cont-2 .main-2 .main-2-1 small {
  color: #3182f6;
  display: inline-block;
  padding-bottom: 2rem;
  font-size: 1.5vw;
}

main .cont-2 .main-2 .main-2-2 {
  width: 55%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  left: -15%;
}

main .cont-2 .main-2 .main-2-2 img:nth-of-type(1) {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

main .cont-2 .main-2 .main-2-2 img:nth-of-type(2) {
  position: relative;
  width: 100%;
}

main .cont-2 .main-2 .main-2-3 {
  width: 55%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translate(15%, 0%);
          transform: translate(15%, 0%);
  position: absolute;
  right: 0;
  top: 0;
}

main .cont-2 .main-2 .main-2-3 div {
  position: relative;
}

main .cont-2 .main-2 .main-2-3 img:nth-of-type(1) {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

main .cont-2 .main-2 .main-2-3 img:nth-of-type(2) {
  position: relative;
  width: 100%;
}

main .cont-2 .main-2 .main-2-3 p {
  width: 90%;
  margin: 0 auto;
  padding-left: 15%;
  font-size: 1vw;
  white-space: pre-line;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .cont-3 {
  width: 100%;
  background: #f9fafb;
  padding: 100px 0 150px;
}

main .cont-3 .main-3 {
  width: 56%;
  margin: 0 auto;
}

main .cont-3 .main-3 h2 {
  margin: 0 0 6vw;
  white-space: pre-line;
  font-size: 2.3vw;
}

main .cont-3 .main-3 h2 small {
  font-size: 1.3vw;
  margin: 20px 0;
  display: inline-block;
  color: #3182f6;
}

main .cont-3 .main-3 .main-3-1 {
  background: #fff;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  margin-bottom: 1.8vw;
}

main .cont-3 .main-3 .main-3-1 .transfer-1 {
  width: 55%;
  height: 30vw;
  background: url("img/section1_2_transfer_01.png") no-repeat 50% 3.5vw;
  background-size: 60%;
  overflow: hidden;
}

main .cont-3 .main-3 .main-3-1 .transfer-1 img {
  width: 100%;
}

main .cont-3 .main-3 .main-3-1 p {
  margin-top: 12vw;
  font-size: 1.3vw;
}

main .cont-3 .main-3 .main-3-1 p .call {
  display: inline;
  color: #03b26c;
  font-size: 1.3vw;
  margin: 0;
  padding: 0;
}

main .cont-3 .main-3 .main-3-1 p .call svg {
  width: 1.7vw;
  max-width: 18.33px;
  max-height: 18.33px;
}

main .cont-3 .main-3 .main-3-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .cont-3 .main-3 .main-3-2 .main-3-2-1 {
  width: 30%;
  background: #191f28;
  color: #b0b8c1;
  border-radius: 30px;
  padding: 30px;
  margin-right: 3vw;
}

main .cont-3 .main-3 .main-3-2 .main-3-2-1 p {
  font-size: 1.8vw;
  margin-top: 0;
  white-space: pre-line;
}

main .cont-3 .main-3 .main-3-2 .main-3-2-1 p .white-font {
  color: white;
}

main .cont-3 .main-3 .main-3-2 .main-3-2-1 div {
  margin-top: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .cont-3 .main-3 .main-3-2 .main-3-2-2 {
  border-radius: 30px;
  background: #fff;
  width: 70%;
}

main .cont-3 .main-3 .main-3-2 .main-3-2-2 .main-3-2-2-1 {
  height: 18vw;
  text-align: right;
}

main .cont-3 .main-3 .main-3-2 .main-3-2-2 .main-3-2-2-1 img {
  width: 80%;
}

main .cont-3 .main-3 .main-3-2 .main-3-2-2 p {
  font-size: 1vw;
  padding: 2vw;
}

main .cont-3 .main-3 .main-3-2 .main-3-2-2 p .clock {
  color: #3182f6;
}

main .cont-4 {
  position: relative;
  width: 100%;
}

main .cont-4 .main-4-1 {
  width: 56%;
  margin: 0 auto;
  padding: 150px 0;
}

main .cont-4 .main-4-1 h2 {
  white-space: pre-line;
  font-size: 2.3vw;
}

main .cont-4 .main-4-1 h2 small {
  font-size: 1.2vw;
  margin: 20px 0;
  display: inline-block;
  color: #3182f6;
}

main .cont-4 .main-4-1 .main-4-1-cont {
  position: relative;
  width: 100%;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

main .cont-4 .main-4-1 .main-4-1-cont .invest-text {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  min-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cont-4 .main-4-1 .main-4-1-cont .invest-text p {
  font-size: 1.5vw;
  width: auto;
  height: auto;
}

main .cont-4 .main-4-1 .main-4-1-cont div:nth-of-type(2) {
  position: relative;
  width: 600px;
  margin: 100px auto;
  background: url("img/section1_5_stock_01.png") center center no-repeat;
  background-size: 55%;
}

main .cont-4 .main-4-1 .main-4-1-cont div:nth-of-type(2) img {
  position: relative;
  width: 100%;
  z-index: 30;
}

main .cont-4 .main-4-1 .main-4-1-cont div:nth-of-type(2) figure {
  position: absolute;
  left: 50%;
  bottom: 15%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 20;
}

main .cont-4 .main-4-1 .main-4-1-cont div:nth-of-type(2) figure img {
  width: 178px;
  margin-left: 16px;
}

main .cont-4 .main-4-1 p {
  font-size: 1.5rem;
  margin: 1vw 0;
  white-space: pre-line;
  text-align: center;
}

main .cont-4 .main-4-2 {
  width: 100%;
  height: 53vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("img/section2_4_big.jpg") center center no-repeat;
  background-size: cover;
}

main .cont-4 .main-4-2 h2 {
  font-size: 4.5vw;
  color: #fff;
}

main .cont-5 {
  position: relative;
  width: 100%;
  background: #f9fafb;
  padding: 9vw 0;
}

main .cont-5 .main-5 {
  width: 56%;
  margin: 0vw auto;
}

main .cont-5 .main-5 h2 {
  margin: 0vw 0 6vw;
  white-space: pre-line;
  font-size: 2.8rem;
}

main .cont-5 .main-5 h2 small {
  font-size: 1.5rem;
  margin: 20px 0;
  display: inline-block;
  color: #3182f6;
}

main .cont-5 .main-5 .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .cont-5 .main-5 .table > div {
  width: 50%;
}

main .cont-5 .main-5 .table > div div {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

main .cont-5 .main-5 .table > div div svg {
  width: 60px;
  height: 60px;
}

main .cont-5 .main-5 .table > div p {
  margin-bottom: 6vw;
  white-space: pre-line;
}

main .cont-5 .main-5 .table > div:nth-of-type(1) div {
  background: #ffe69b;
}

main .cont-5 .main-5 .table > div:nth-of-type(2) div {
  background: #f2f4f6;
}

main .cont-5 .main-5 .table > div:nth-of-type(3) div {
  background: #bce9e9;
}

main .cont-5 .main-5 .table > div:nth-of-type(4) div {
  background: #aeefd5;
}

main .cont-5 .main-5 .table > div:nth-of-type(5) div {
  background: #edccf8;
}

main .cont-5 .main-5 .table > div:nth-of-type(6) div {
  background: #f2f4f6;
}

main .cont-5 .main-5 .table > div:nth-of-type(7) div {
  background: #e8f3ff;
}

main .cont-5 .main-5 .table > div:nth-of-type(8) div {
  background: #aeefd5;
}

footer {
  font-size: 0.9rem;
  background-color: #191f28;
  color: #fff;
  width: 100%;
  position: relative;
  padding: 70px 0;
}

footer a {
  color: #6b7684;
}

footer .footer-cont {
  width: 56%;
  margin: 0vw auto;
}

footer .footer-cont div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3vw;
}

footer .footer-cont div ul li:nth-of-type(1) a {
  font-weight: bolder;
  color: #b0b8c1;
}

footer .footer-cont div ul li {
  padding: 0.6vw;
}

footer .footer-cont address {
  margin-bottom: 3vw;
  font-style: normal;
  color: #8b95a1;
}

footer .footer-cont address strong {
  display: block;
  padding-bottom: 12px;
  color: #b0b8c1;
}

footer .footer-cont .term {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: pre-wrap;
}

footer .footer-cont .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-cont .sns li {
  margin: 0.6vw;
}

@media (max-width: 1140px) {
  header div {
    width: 90%;
    min-width: 0px;
  }
}

@media (max-width: 1024px) {
  header div {
    width: 76%;
  }
  header div .b-nav li a {
    font-size: 1.3vw;
  }
  header div .lang li a {
    font-size: 1.5vw;
  }
  main .cont-2 .main-2, main .cont-3 .main-3, main .cont-4 .main-4-1, main .cont-5 .main-5 {
    width: 76%;
  }
  main .cont-2 {
    padding: 10vw 0;
  }
  footer .footer-cont {
    width: 76%;
  }
}

@media (max-width: 768px) {
  @-webkit-keyframes slideInLeft {
    0% {
      -webkit-transform: translate3d(-250px, 0, 0);
              transform: translate3d(-250px, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInLeft {
    0% {
      -webkit-transform: translate3d(-250px, 0, 0);
              transform: translate3d(-250px, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes slideOutLeft {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-250px, 0, 0);
              transform: translate3d(-250px, 0, 0);
      visibility: hidden;
    }
  }
  @keyframes slideOutLeft {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-250px, 0, 0);
              transform: translate3d(-250px, 0, 0);
      visibility: hidden;
    }
  }
  .b-menu {
    background: white;
    border: white solid 2px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 38px;
    padding-left: 15px;
    padding-top: 15px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 38px;
    z-index: 12;
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  .b-menu:hover {
    border: #444444 solid 2px;
  }
  .b-bun {
    background: #444444;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .b-bun--top {
    height: 2px;
    top: 0;
    width: 25px;
  }
  .b-bun--mid {
    height: 2px;
    top: 8px;
    width: 25px;
  }
  .b-bun--bottom {
    height: 2px;
    top: 16px;
    width: 25px;
  }
  .b-nav:not(.open) {
    visibility: hidden;
  }
  .b-nav li:not(.open) {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
  }
  .b-nav.open {
    visibility: visible;
  }
  .b-nav.open li {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
  }
  .b-nav:hover:not(.open) .bun-top,
  .b-nav:hover:not(.open) .bun-mid,
  .b-nav:hover:not(.open) .bun-bottom {
    background: white;
  }
  .b-menu.open .b-bun--top {
    background: #444444;
    top: 9px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .b-menu.open .b-bun--mid {
    opacity: 0;
  }
  .b-menu.open .b-bun--bottom {
    background: #444444;
    top: 5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header > div {
    width: 100%;
    padding: 20px;
  }
  header > div .b-nav {
    display: none;
  }
  header > div .b-nav.open {
    display: block;
    position: fixed;
    top: 61px;
    left: 0;
    background: #fff;
    width: 100%;
    padding-left: 0vw;
  }
  header > div .b-nav.open li {
    padding: 2.5vw;
  }
  header > div .b-nav.open li a {
    font-size: 3vw;
    color: #4e5968;
  }
  header > div .lang {
    display: none;
  }
  header > div .b-menu {
    display: block;
  }
  main .toss-word {
    width: 100%;
    font-size: 7vw;
  }
  main .cont-1 {
    height: 90vw;
  }
  main .cont-1 h2 {
    width: 92%;
    font-size: 3.2vw;
  }
  main .cont-2 .main-2, main .cont-3 .main-3, main .cont-4 .main-4-1, main .cont-5 .main-5 {
    width: 92%;
  }
  main .cont-2 {
    padding: 3vw 0;
  }
  main .cont-2 .main-2 .main-2-1 {
    font-size: 3.5vw;
  }
  main .cont-2 .main-2 .main-2-1 small {
    font-size: 2.5vw;
  }
  main .cont-2 .main-2 .main-2-3 p {
    font-size: 1.8vw;
  }
  main .cont-3 {
    padding: 5vw 0;
  }
  main .cont-3 .main-3 h2 {
    font-size: 3.5vw;
  }
  main .cont-3 .main-3 h2 small {
    font-size: 2.5vw;
  }
  main .cont-3 .main-3 .main-3-1 p {
    font-size: 2.3vw;
  }
  main .cont-3 .main-3 .main-3-1 p .call {
    font-size: 2.3vw;
  }
  main .cont-3 .main-3 .main-3-2 .main-3-2-1 p {
    font-size: 2.7vw;
  }
  main .cont-3 .main-3 .main-3-2 .main-3-2-2 p {
    margin-top: 5vw;
    font-size: 2vw;
  }
  main .cont-4 {
    padding: 5vw 0;
  }
  main .cont-4 .main-4-1 {
    padding: 2vw 0;
  }
  main .cont-4 .main-4-1 h2 {
    font-size: 3.5vw;
  }
  main .cont-4 .main-4-1 h2 small {
    font-size: 2.5vw;
  }
  main .cont-4 .main-4-1 .main-4-1-cont {
    width: 100%;
  }
  main .cont-4 .main-4-1 .main-4-1-cont .invest-text {
    width: 100%;
    min-width: 0;
    max-width: 800px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 35;
  }
  main .cont-4 .main-4-1 .main-4-1-cont .invest-text p {
    font-size: 1.8vw;
  }
  main .cont-4 .main-4-1 .main-4-1-cont div:nth-of-type(2) {
    margin-bottom: 0;
  }
  main .cont-4 .main-4-1 p {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  main .cont-5 .main-5 .table div {
    width: 48%;
    font-size: 2vw;
  }
  footer .footer-cont {
    width: 92%;
  }
}

@media (max-width: 600px) {
  main .download {
    top: 300px;
  }
  main .cont-1 h2 {
    font-size: 5vw;
  }
  main .cont-2 .main-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .cont-2 .main-2 .main-2-1 {
    font-size: 5.5vw;
  }
  main .cont-2 .main-2 .main-2-1 small {
    font-size: 4vw;
  }
  main .cont-2 .main-2 .main-2-2 {
    width: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  main .cont-2 .main-2 .main-2-2 img {
    position: relative;
  }
  main .cont-2 .main-2 .main-2-3 {
    position: relative;
    width: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  main .cont-2 .main-2 .main-2-3 p {
    padding: 0;
    font-size: 4vw;
  }
  main .cont-3 .main-3 h2 {
    font-size: 5.5vw;
  }
  main .cont-3 .main-3 h2 small {
    font-size: 4vw;
  }
  main .cont-3 .main-3 .main-3-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .cont-3 .main-3 .main-3-1 .transfer-1 {
    width: 100%;
    height: auto;
    background: url(img/section1_2_transfer_01.png) no-repeat 50% 12vw;
    background-size: 60%;
  }
  main .cont-3 .main-3 .main-3-1 p {
    font-size: 4vw;
    width: 100%;
    padding-left: 10vw;
  }
  main .cont-3 .main-3 .main-3-1 p .call {
    font-size: inherit;
  }
  main .cont-3 .main-3 .main-3-2 {
    display: block;
  }
  main .cont-3 .main-3 .main-3-2 .main-3-2-1 {
    width: 70vw;
    margin: 0 auto;
  }
  main .cont-3 .main-3 .main-3-2 .main-3-2-1 p {
    font-size: 7vw;
  }
  main .cont-3 .main-3 .main-3-2 .main-3-2-2 {
    margin-top: 5vw;
    width: 100%;
  }
  main .cont-3 .main-3 .main-3-2 .main-3-2-2 .main-3-2-2-1 {
    height: auto;
  }
  main .cont-3 .main-3 .main-3-2 .main-3-2-2 p {
    padding-left: 10vw;
    font-size: 4vw;
  }
  main .cont-4 .main-4-1 h2 {
    font-size: 5.5vw;
  }
  main .cont-4 .main-4-1 h2 small {
    font-size: 4vw;
  }
  main .cont-4 .main-4-1 .main-4-1-cont div:nth-of-type(2) {
    width: 300px;
  }
  main .cont-4 .main-4-1 .main-4-1-cont div:nth-of-type(2) figure img {
    width: 78px;
  }
  main .cont-4 .main-4-1 p {
    font-size: 5vw;
  }
  main .cont-5 .main-5 h2 {
    font-size: 6vw;
  }
  main .cont-5 .main-5 h2 small {
    font-size: 4vw;
  }
  main .cont-5 .main-5 .table {
    display: block;
  }
  main .cont-5 .main-5 .table div {
    width: 100%;
  }
  main .cont-5 .main-5 .table div h3 {
    font-size: 5.7vw;
  }
  main .cont-5 .main-5 .table div p {
    font-size: 4.7vw;
  }
  footer .footer-cont div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-cont .term {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */