@import "_common.scss";

header{
    position:fixed;
    background-color:#fff;
    width:100%; height:10vh;
    display:flex; align-items:center;
    z-index:20;
    
    div{
        margin:0 auto;
        width:70%;
        display:flex;
        justify-content:space-between;
        align-items: center;
        h1{
            font-size: 1.5rem;
            a{color:blue;}
            a img{vertical-align: middle;}
        }
        nav{
            width:50%;
            margin-left:auto;
            display:flex;
            justify-content:space-around;
            font-size:0.8rem;
            a{}
        }
        .lang{
            margin-left:3rem;
            display:flex;
            justify-content:space-around;
            
            li{
                a{color:#999;}
                a.active{color:#000;}
            }
            li:nth-of-type(1)::after{
                content:'|';
                margin:1rem;
                color:#999;
            }
        }
    }
}

main{
    .wrapper-vid{
        position: absolute;
        width: 100%;
        pointer-events: none;
    }
    .gradient-bg{
        background:linear-gradient(to top, 
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0.25) 25%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.75) 75%,
        rgba(255, 255, 255, 1) 100%);

        width: 100%;
        height: 100vh;
        min-height: 600px;
        object-fit: cover;
        position: relative;
        z-index: 2;
        pointer-events: none;
    }
    .bg-vid{
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        min-height: 600px;
        object-fit: cover;
        pointer-events: none;
    }
    .toss-word{
        position:absolute; left:50%; top:30%;
        transform:translate(-50%,-50%);
        z-index:9;
        white-space: pre-line;
        text-align:center;
        font-size:3.4rem;
    }
    .download{
        position:absolute; 
        top:50%; left:50%;
        transform:translateX(-50%);
        text-align: center;
        ul{
            li{display:none;}
        }
        .btn-dwnld{
            width:25vh; height:10vh;
            border-radius:5vh;
            border:none;
            background-color:rgb(0, 0, 255);
            color:#fff;
            font-size:1.3rem;
            transition:0.5s;
        }
        .btn-dwnld:hover{
            background-color: rgb(0, 0, 100);
        }
    }
    .move-page{
        position:absolute;
        bottom:5%; left:50%;
        transform:translateX(-50%) rotate(90deg);
        border:none; background:none;
        font-size:2rem;
    }
    .cont-1{
        position:absolute; top:100%;
        width:100%; height:80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgb(250,250,250);
        h2{
            margin-top:10vh;
            width:80%;
            line-height:3.5rem;
            font-size:1.6rem;
            white-space: pre-line
        }
    }
    .cont-2{
        position:absolute;
        top:180vh;
        height:180vh;
        .main-2{
            width:70%;
            margin:0 auto;
            position:relative;
            .main-2-1{
                small{
                    color:blue;
                    display: inline-block;
                    padding-bottom:2rem;
                    font-size:2rem;
                }
                text-align:left;
                white-space: pre-line;
                font-size:3rem;
            }
            .main-2-2{
                width:55%;
                background:url('img/section1_1_home_02.png') no-repeat center center;
                background-size:60%;
                transform:translate(-20%,0);
                img{width:100%}
            }
            .main-2-3{
                width:55%;
                background:url('img/section1_1_home_01.png') no-repeat center center;
                background-size:60%;
                transform:translate(20%,0%);
                position:absolute;
                top:-10%; right:0%;
                img{
                    width:100%;
                    transform:translateY(29%);
                }
                div{
                    font-size:1.3rem;
                    width:80%;
                    margin-top:30vh; margin-left:10vh;
                    white-space: pre-line;
                }
            }
            
        }
    }
    
}
